@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

#header {
    display: flex;
    justify-content: space-between;
    margin: 16px 96px;
    font-family: 'Roboto', sans-serif;
}

header img {
    width: 150px;
}


.headerUp {
    display: flex;
    justify-content: space-around;
}

.headerDown {
    display: flex;
    justify-content: space-around;
}

.headerUp a {
    padding: 34px 24px 16px;
}

.headerDown a {
    padding: 16px 24px;
}

/* MAIN */

.caroussel {
    width: 100%;
    height: 100vh;
}

.caroussel img {
    width: 100%;
    height: 440px;
}

.patrocinadores {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FFF8B0;
    width: 100%;
    height: 220px;
}

p {
    font-size: 32px;
    line-height: 42px;
}

button {
    border-radius: 8px;
    width: 154px;
    height: 54px;
    background-color: #DF1C56;
    font-size: 24px;
}

.patrocinadores img {
    width: 150px;
    height: 154px;
}